<div class="main-container">
  <div class="img-container">
    <h3 class="slogan">A NEW WORLD CAN START WITH A SIMPLE FLAPPING</h3>
    <img
      src="../../../assets/images/flapping-logo.png"
      alt="flapping-logo"
      class="logo-solveit"
    />
    <img
      src="../../../assets/images/fondo-login-1.jpg"
      alt="flapping-logo"
      class="fondo-solveit"
    />
  </div>
  <div class="auth-container">
    <img
      src="../../../assets/images/fondo-login.jpeg"
      alt=""
      class="fondo-form"
    />
    <div class="form-container">
    <router-outlet></router-outlet>
  </div>
    <!-- <div class="form-container">
      <h1 class="login-title">FLAPPING</h1>
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput />
        </mat-form-field>
      </form>
      <div class="buttons-container">
        <button mat-flat-button color="primary" (click)="login()"><span class="button-title">Login</span></button>
        <button mat-flat-button color="primary" (click)="signUp()"><span class="button-title">Sign up</span></button>
      </div>
    </div> -->
  </div>
</div>
